<h1>MTA 2.0 ==> <em>Faster, Better, Sleeker</em></h1>

<p>Origin?</p>

<form action='/choice' method='get'>

  <select name='beginning'>
    <option value="n:ts">N-Times Square</option>
    <option value="n:34th">N-34th</option>
    <option value="n:28th-n">N-28th</option>
    <option value="n:23rd-n">N-23rd</option>
    <option value="n:us">N-Union Square</option>
    <option value="n:8th">N-8th</option>
    <option value="l:8th">L-8th</option>
    <option value="l:6th">L-6th</option>
    <option value="l:us">L-Union Station</option>
    <option value="l:3rd">L-3rd</option>
    <option value="l:1st">L-1st</option>
    <option value="s:gc">S-Grand Central</option>
    <option value="s:33rd">S-33rd</option>
    <option value="s:28th-s">S-28th</option>
    <option value="s:23rd-s">S-23rd</option>
    <option value="s:us">S-Union Station</option>
    <option value="s:ap">S-Astor Place</option>
  <!--   <option value="sv:ts">Sv-Times Square</option>
    <option value="sv:42nd">Sv-42nd</option>
    <option value="sv:5th">Sv-5th</option>
    <option value="sv:gc">Sv-Grand Central</option>
    <option value="sv:vj">Sv-Vernon-Jackson</option> -->
  </select>


<p>Destination?</p>


  <select name='end'>
    <option value="n:ts">N-Times Square</option>
    <option value="n:34th">N-34th</option>
    <option value="n:28th-n">N-28th</option>
    <option value="n:23rd-n">N-23rd</option>
    <option value="n:us">N-Union Square</option>
    <option value="n:8th">N-8th</option>
    <option value="l:8th">L-8th</option>
    <option value="l:6th">L-6th</option>
    <option value="l:us">L-Union Station</option>
    <option value="l:3rd">L-3rd</option>
    <option value="l:1st">L-1st</option>
    <option value="s:gc">S-Grand Central</option>
    <option value="s:33rd">S-33rd</option>
    <option value="s:28th-s">S-28th</option>
    <option value="s:23rd-s">S-23rd</option>
    <option value="s:us">S-Union Station</option>
    <option value="s:ap">S-Astor Place</option>
<!--     <option value="sv:ts">Sv-Times Square</option>
    <option value="sv:42nd">Sv-42nd</option>
    <option value="sv:5th">Sv-5th</option>
    <option value="sv:gc">Sv-Grand Central</option>
    <option value="sv:vj">Sv-Vernon-Jackson</option> -->
  </select>

<br>
<br>
<button>Go!</button>
</form>

<p> ==> Your journey will have <%= @total_length_of_trip %> stop(s).</p>